.section__video #backgroundVideo {
  position: fixed;
  right: 0;
  top: 60px;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 60px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  
  margin: 0 80px;
  padding: 20px;
  line-height: 30px;
}


h1.title {
  margin: 30px 0;
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .section__video #backgroundVideo {
     left: 50%; 
    transform: translateX(-50%); 
  }

  .content {
    left: 50%; 
    transform: translateX(-50%); 
    width: 90%; 
    max-width: 600px; 
    margin: 0 ;
  }

  h1.title {
    font-size: 2rem; 
  }
}


@media (max-width: 426px) {
  .content {
    padding: 15px; 
    line-height: 25px;
        width: 60%; 
        position: absolute;
        top: 100px;
        bottom: auto;
        left: 60%; 
                width: 70%; 


  }

  h1.title {
    font-size: 1.8rem;
  }
}

@media (max-width: 321px) {
  .content {
        left: 60%; 
    padding: 15px; 
    line-height: 25px;
        width: 80%; 
      
  }

  h1.title {
    font-size: 1.8rem;
  }
}