:root {
    --color-primary-red: #e30258;
    --color-primary-violet: #412043;
    --color-primary-fucsia: #e83a76;
    --color-secondary: #072d42;
    --color-success: #9DCD5A;
    --color-info: #7cb0ba;
    --color-warning: #ffa500;
    --color-danger: #BC1823;
}